body {
  font-family: "Lato", sans-serif;
  background-color: #eaeaea;
}

.bg-accent-purple {
  background: #dabfff;
}

.bg-accent-pink {
  background: #fbbfca;
}

.bg-accent-gold {
  background-color: gold;
}

.del {
  background-color: #aa4465;
  color: #eaeaea !important;
}

.card {
  border-radius: 15px;
}
