
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WindSong';
  src: url('../assets/fonts/WindSong-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WindSong';
  src: url('../assets/fonts/WindSong-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Farro';
  src: url('../assets/fonts/Farro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Farro';
  src: url('../assets/fonts/Farro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Farro';
  src: url('../assets/fonts/Farro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Farro';
  src: url('../assets/fonts/Farro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Lato", sans-serif;
  background-color: #eaeaea;
}

.bg-accent-purple {
  background: #dabfff;
}

.bg-accent-pink {
  background: #fbbfca;
}

.bg-accent-gold {
  background-color: gold;
}

.del {
  background-color: #aa4465;
  color: #eaeaea !important;
}

.card {
  border-radius: 15px;
}

.btn {
  font-family: "Farro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333 !important;
}

a:visited {
  color: #aa4465;
}

a {
  color: #aa4465;
}

.text-gold {
  color: gold !important;
}

.bg-gold {
  background: gold !important;
}

.bg-purple {
  background: #dabfff !important;
}

.text-purple {
  color: #dabfff !important;
}

.bg-pink {
  background: #fbbfca !important;
}

.text-pink {
  color: #fbbfca !important;
}

.text-burgund {
  color: #aa4465 !important;
}

.bg-burgund {
  background: #aa4465 !important;
}
